@import url('https://fonts.googleapis.com/css?family=Mystery+Quest|Pacifico|Qwigley|Risque|Squada+One');
html {
    background-color: rgb(242, 242, 242);
}

body {
    max-width: 1200px;
    margin: auto;

    margin-top: 0px;

}

.s-pageheader {
    background-color: #151515;
}

header .header__logo h1 {
    margin: 0px auto;
}

header {

    display: block;
    content: "";

    top: 0;
    left: 0;

    height: 100%;
    background-color: #151515;
    opacity: .95;
}

header .header__logo {
    font-family: 'Mystery Quest', cursive;
    font-size: 16px;
    text-align: center;
    margin: 20px auto;
    color: white;
}


header .header__nav {
    padding: 0;
    display: flex;
    justify-content: space-around;
}

header .header__nav li {
    display: inline;
}

header .header__nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-family: 'Squada One', cursive;
}

header .header__nav li a:hover {
    text-decoration: underline;
}

@media (min-width: 500px) {
    header nav {
        display: flex;
    }
    header .header__logo {
        margin: 0 2%;
    }
    header .header__nav {
        flex: 1;
        align-items: center;
        justify-content: left;
    }
    header .header__nav li {
        margin: 0 2%;
    }

}



header .header__nav {
    padding: 0;
    display: flex;
    justify-content: space-around;

}

header .header__nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

header .header {

    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.featured {
    height: 350px;
    display: grid;
    grid-template-columns: 70% 30%;
}
.featured__column__featured__column--big {
    grid-row: 1 / span 2;
}
.featured__colum__featured__column--smallone {
    grid-column: 2;
}
.featured__colum__featured__column--smalltwo {
    grid-column: 2;
    grid-row: 2;
}
.featured__column__featured__column--big {
    background-image: url(/foto_web/fon-car.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    font-family: 'Pacifico', cursive;
}
.featured__colum__featured__column--smallone {
    background-image: url('/foto_web/ksenon.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    font-family: 'Pacifico', cursive;
}
.featured__colum__featured__column--smalltwo {
    background-image: url('/foto_web/dalar.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    font-family: 'Pacifico', cursive;
}

.entry__contentbig h1 {
    color: white;
    font-size: 2rem;
    margin-left: 20px;
}

.entry__content {
    padding-bottom: 20px;
    height: 155px;
}
@media (max-width: 700px) {
    .featured__column__featured__column--big {
        
     width: 1200px;  
        
    }
    .featured__colum__featured__column--smallone {
        display: none;
    }
    .featured__colum__featured__column--smalltwo {
        display: none;
    }
}
a.button_big {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: red;
    text-align: center;
    transition: all 0.2s;
    margin-left: 20px;
}
a.button_big:hover {
    background-color: green;
}
@media all and (max-width:30em) {
    a.button_big {
        display: block;
        margin: 0.2em auto;
    }
}



@media (min-width: 400px) {
    .product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 700px) {
    .product-list {
        grid-template-columns: repeat(4, 1fr);
    }
}
.s-extra h2 {
    text-align: center;
    font-family: 'Risque', cursive;
}

.product-card {
    background-color: gray;
    padding: 5px;
    margin: 5px;

}

.product-card img {
    display: block;
    width: 100%;
}

.col-about {
    text-align: center;
    font-family: 'Risque', cursive;

}

/* footer*/

.footer {

    padding: 20px 30px 20px 30px;
    color: white;
    background-color: #151515;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    padding-bottom: 30px;
}

@media (max-width: 650px) {
    .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.row a {
    color: rgb(177, 177, 177);
    text-decoration: none;
}

.s-footer__bottom {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    display: block;
    width: 100%;
}

textarea {
    display: block;
    width: 100%;
    height: 50px;
}
